h1 {
    border: 1px dotted blue;
    display: flex;
    justify-content: center;
}

h1#intro {
    color: red;
}

h3 {
    display:flex;
    justify-content: center;
}

form {
    border: 1px solid black;
}
